---
import SeparationLine from "../../../components/shared/SeparationLine.astro";


interface Props {
  name: string;
  description: string;
  price: number;
  id: string;
}

const {name, description, price, id} = Astro.props
---

<div class="flex flex-col gap-1">
  <h2 class="text-4xl md:text-5xl lg:text-5xl" transition:name={`title ${name}-${id}`}>{name}</h2>
  <span class="text-3xl font-semibold my-3 lg:text-4xl">${price}</span>
  <p class="">
    {description}
  </p>
</div>
<SeparationLine />

