---
import { BannerName } from "../../../consts/bannerName";
import DiamondIcon from "../../icons/DiamondIcon.astro";
import HandShakeIcon from "../../icons/HandShakeIcon.astro";
import MountainIcon from "../../icons/MountainIcon.astro";
import PlantIcon from "../../icons/PlantIcon.astro";
import TrophyIcon from "../../icons/TrophyIcon.astro";
import WorldIcon from "../../icons/WorldIcon.astro";

interface Props {
    name: BannerName;
    iconClassName?: string;

}

const { name, iconClassName } = Astro.props;
---

<article class={`flex flex-wrap gap-1 justify-center items-center font-bold`}>
    {name === BannerName.LIDERAZGO && <MountainIcon className={iconClassName}/>}
    {name === BannerName.DIVERSIDAD && <WorldIcon className={iconClassName}/>}
    {name === BannerName.EXCELENCIA && <TrophyIcon className={iconClassName}/>}
    {name === BannerName.INTEGRIDAD && <DiamondIcon className={iconClassName}/>}
    {name === BannerName.PARTICIPACION && <HandShakeIcon className={iconClassName}/>}
    {name === BannerName.SOSTENIBILIDAD && <PlantIcon className={iconClassName}/>}
    <h3>{name}</h3>
</article>
